#header {
    color: red;
    font-size: 300%;
}
#parent {
    /* background-color: rgb(60, 73, 87); */
    background-color: rgb(38, 48, 58);
    color: #05F100;
    font-family: 'Share Tech Mono', monospace;
    padding: 10px;
}
.buttons {
    width: 12%;
    height: 50px;
    border-radius: 10px;
    background-color: red;
    color: white;
    margin: 2%;
    margin-top: 0%;
}
#start {
    width: 18%;
    height: 60px;
    padding: 10px;
    border-radius: 15px;
    background-color: red;
    color: white;
    font-weight: 900;
    margin: 2%;
    margin-top: 0%;
    padding: 15px;
    animation: startButton;
    font-weight: 700;
    font-size: 120%;
}
@keyframes startButton {
    from {background-color:  rgb(38, 48, 58);}
    to {background-color: red;}
}
#oversize {
    font-size: 200%;
}
.big {
    font-size: 300%;
}
p, li {
    width: 75%;
    margin-left: 12.5%;
    text-align: left;
}
h2, h3, h4, .subheaders {
    color: rgb(94, 94, 173);
}
/* Form */
.fields {
    width: 50%;
    height: 30px;
}

.cancel {
    border-radius: 50%;
    background-color: red;
    margin: 2%;
    margin-left: 88%;
}
.submit {
    background-color: black;
    color: white;
    margin: 2%;
}

#form {
    background-color: rgb(60, 73, 87);
    border: 2px solid black;
    width: 30%;
    margin-left: 35%;
}

#form2 {
    background-color: rgb(60, 73, 87);
    border: 2px solid black;
    width: 50%;
    height: 65%;
    margin-left: 25%;
    margin-top: 6%;
}

em {
    color: #78a778;
}