.fields {
    width: 50%;
    height: 30px;
}

.submit {
    background-color: black;
    color: white;
    margin: 2%;
    padding: 5px;
    width: 65px;
}

#form {
    background-color: rgb(60, 73, 87);
    border: 2px solid black;
    width: 50%;
    height: 65%;
    margin-left: 23%;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 2%;
}

#betForm {
    color: #05F100;
    padding-left: 10%;
    background-color: rgb(60, 73, 87);
    border: 2px solid black;
}

.betLabels {
    width: 30px;
    margin-left: 10%;
    margin-right: 10%;
}