/* import backgroundImage from "../public/green.jpg" */
#header {
    color: #05F100;
    font-family: 'Share Tech Mono', monospace;
    font-size: 300%;
}
#background {
    /* background-color: rgb(60, 73, 87); */
    background-color: rgb(38, 48, 58);
    color: #05F100;
    font-family: 'Share Tech Mono', monospace;
    width: 100%;
    height: 1600px;
    padding: 10px;
}
#table {
    /* background-image: url("../../images/green.jpg"); */
    background-color: seagreen;
    border: 20px solid saddlebrown;
    border-radius: 20px;
    width: 84%;
    height: 620x;
    margin-left: 8%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}
#riverContainer {
    margin: 5%;
}
.riverCards {
    width: 9%;
    margin: 1%;
}
.start {
    width: 80%;
    height: 60px;
    padding: 10px;
    border-radius: 15px;
    background-color: red;
    color: white;
    margin: 2%;
    margin-top: 25%;
    animation: startButton;
    font-weight: 700;
    font-size: 120%;
}
@keyframes startButton {
    from {background-color: seagreen;}
    to {background-color: red;}
}
#buttons {
    display: inline-flex;
    margin: auto;
    width: 60%;
    margin-left: 20%;
}
.buttonHolder {
    width: 40%;
}
/* #C0 {
    margin-left: 1%;
    margin-top: 20%;
    color: white;
}
#C1 {
    margin-left: 20%;
    margin-top: 1%;
    color: white;
}
#C2 {
    margin-left: 20%;
    margin-top: 0%;
}
#C3 {
    display: block;
    margin-left: 40%;
    margin-top: 20%;
    width: 22%;
    height: 27%;
} */

/* #my {
    margin-top: 17%;
} */
/* #info {
    width: 22%;
    height: 27%;
    border: 1px dashed black;
    border-radius: 10px;
    background-color: rgb(38, 48, 58);
    color: #05F100;
} */
.modal {
    background-color: rgb(38, 48, 58);
    color: #05F100;
    margin: auto;
    width: 450px;
    height: 200px;
    margin-top: 15%;
}