.info {
    margin: 1%;
    width: 20%;
    height: 30%;
    padding: 1%;
    border: 1px dashed black;
    border-radius: 10px;
}
.my {
    color:  rgb(38, 48, 58);
    color: #05F100;
}
.cards {
    display: inline-block;
    width: 70px;
    margin-left: 2%;
}
h4 {
    display: inline-block;
    margin: 0%;
}
