/* .info {
    margin: 1%;
    width: 20%;
    height: 30%;
    padding: 1%;
    border: 1px dashed black;
    border-radius: 10px;
} */
.info {
    margin: 1%;
    width: 18%;
    height: 25%;
    padding: 5px;
    border: 1px dashed black;
    border-radius: 10px;
    background-color: rgb(38, 48, 58);
    color: #05F100;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.myInfo {
    margin: 1%;
    width: 30%;
    height: 25%;
    padding: 5px;
    border: 1px dashed black;
    border-radius: 10px;
    background-color: rgb(38, 48, 58);
    color: #05F100;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 5%;
}
.myStudInfo {
    margin: 1%;
    width: 50%;
    /* height: 25%; */
    padding: 5px;
    border: 1px dashed black;
    border-radius: 10px;
    background-color: rgb(38, 48, 58);
    color: #05F100;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 5%;
}
.cards {
    display: inline-block;
    width: 50px;
    margin-left: 2%;
}
h4 {
    display: inline-block;
    margin: 0%;
}
.studCards {
    display: block;
    width: 42%;
    margin-left: 2%;
}
.stud {
    height: 50%;
    margin: 1%;
    width: 18%;
    padding: 5px;
    border: 1px dashed black;
    border-radius: 10px;
    background-color: rgb(38, 48, 58);
    color: #05F100;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.pokerHand {
    color: red;
    font-weight: 900;
    margin: 0%;
}